/********************************
      CUSTOMIZATION INTUTS
********************************/

@import url(https://fonts.googleapis.com/css?family=Roboto);

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
      --active: rgb(223, 27, 44);
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: rgb(223, 27, 44);
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background .3s, border-color .3s, box-shadow .2s;
  }
  input[type='checkbox']:after,
  input[type='radio']:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type='checkbox']:checked,
  input[type='radio']:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type='checkbox']:disabled,
  input[type='radio']:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
  }
  input[type='checkbox']:disabled:checked,
  input[type='radio']:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
  }
  input[type='checkbox']:disabled + label,
  input[type='radio']:disabled + label {
      cursor: not-allowed;
  }
  input[type='checkbox']:hover:not(:checked):not(:disabled),
  input[type='radio']:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
  }
  input[type='checkbox']:focus,
  input[type='radio']:focus {
      box-shadow: 0 0 0 var(--focus);
  }
  input[type='checkbox']:not(.switch),
  input[type='radio']:not(.switch) {
      width: 21px;
  }
  input[type='checkbox']:not(.switch):after,
  input[type='radio']:not(.switch):after {
      opacity: var(--o, 0);
  }
  input[type='checkbox']:not(.switch):checked,
  input[type='radio']:not(.switch):checked {
      --o: 1;
  }
  input[type='checkbox'] + label,
  input[type='radio'] + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
  }
  input[type='checkbox']:not(.switch) {
      border-radius: 7px;
  }
  input[type='checkbox']:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
  }
  input[type='checkbox']:not(.switch):checked {
      --r: 43deg;
  }
  input[type='checkbox'].switch {
      width: 38px;
      border-radius: 11px;
  }
  input[type='checkbox'].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
  }
  input[type='checkbox'].switch:checked {
      --ab: var(--active-inner);
      --x: 17px;
  }
  input[type='checkbox'].switch:disabled:not(:checked):after {
      opacity: .6;
  }
  input[type='radio'] {
      border-radius: 50%;
  }
  input[type='radio']:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7));
  }
  input[type='radio']:checked {
      --s: .5;
  }
}


/**********************
         NODES 
**********************/

body{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  color: black;
  font-family: 'Roboto', sans-serif;
  position: relative;
  background:black;
  transform: translateX(0px);
  transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow: hidden;
}

html {
  overflow-x: hidden;
}

iframe{
    z-index: -1;
    position: absolute;
    top:0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    /* filter: blur(0px); */
}


form{
  height: 100%;
  text-align: center;
}


/**********************
      IDENTIFICATORS 
**********************/

#regimes{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  transform: rotate3d(-1, 1, 0, 90deg);
}

#menu{
  height: 100vh;
}

#modes{
  grid-area: a;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
#start_button{
  border: 0;
  font-size: 34px;
  border-radius: 1px;
  display: grid;
  margin: 15px 10px 15px 0;
  padding: 5px 15px;
  transition: background 0.3s ease-in 0.1s;
}
#start_button:hover,#exit_button:hover {
  border: 0;
  cursor: pointer;
  background: rgb(223, 27, 44);
}
#start_button:focus{

}

#start{
  display: grid;
  grid-area: i;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  margin-top: 10px;
}

#exit_button{
border: 0;
border-radius: 1px;
padding: 5px 15px;
position: absolute;
bottom: 10px;
left: 10px;
font-size: 28px;
transition: background 0.3s ease-in 0.1s;
font-family: Georgia, 'Times New Roman', Times, serif;
}
/**********************
      KEYFRAMES 
**********************/
@keyframes fadeInMenu {
  from {transform: rotate3d(-1, 1, 0, 90deg);}
  to {transform: rotate3d(-1, 1, 0, 0deg);}
}
@keyframes fadeOutMenu {
  from {transform: rotate3d(-1, 1, 0, 0deg);}
  to {transform: rotate3d(-1, 1, 0, 90deg);}
}

@keyframes blurBackground {
  from {filter: blur(0px);}
  to {filter: blur(5px);}
}
@keyframes unBlurBackground {
  from {filter: blur(5px);}
  to {filter: blur(0px);}
}

/**********************
     ELEMENTS SETUP 
**********************/

#start_position p, #end_position p, #control p{
  text-align: left;
  font-size: 20px;
}

#modes p 
{
  font-size: 38px;
}

.left{
  justify-self: start;
  align-self: center;
}
.right{
  justify-self: end;
  align-self: center;
}
.center{
  justify-self: center;
  align-self: center;
}
/**********************
         GRIDS 
**********************/

.menu_grid {
  display: grid; 
  grid-template-areas: "a a a"
                       "k b c"
                       "g d e";
  grid-template-columns: 0.3fr 2fr 3fr;
  grid-template-rows: 1fr 4fr 1fr;
}

.regimes_grid {
  grid-template-areas: "a a"
                       "b c"
                       "f g"
                       "i i";
  display: grid; 
  grid-template-rows: repeat(4fr, 4);
  grid-template-columns: 1fr 2fr;
  gap: 0 10px;
}

.mode_form_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.start_position_form_grid {
  display: grid;
  grid-template-rows: 42px 42px 42px 42px;
}
.control_form_grid{
  display: grid;
  grid-template-rows: 42px 42px;
}
.form_item{
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr; 
}
.regimes_def_position{            
  grid-area: b;
}

/* CUDE LOADER */

#cube-loader {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: black;
  transition: opacity 1s ease-in-out;
}
#cube-loader .caption {
  margin: 0 auto;
}
#cube-loader .cube-loader {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  margin-top: 49px;
  position: relative;
  transform: rotateZ(45deg);
}
#cube-loader .cube-loader .cube {
  position: relative;
  transform: rotateZ(45deg);
  width: 50%;
  height: 50%;
  float: left;
  transform: scale(1.1);
}
#cube-loader .cube-loader .cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  animation: cube-loader 2.76s infinite linear both;
  transform-origin: 100% 100%;
}
#cube-loader .cube-loader .loader-2 {
  transform: scale(1.1) rotateZ(90deg);
}
#cube-loader .cube-loader .loader-3 {
  transform: scale(1.1) rotateZ(180deg);
}
#cube-loader .cube-loader .loader-4 {
  transform: scale(1.1) rotateZ(270deg);
}
#cube-loader .cube-loader .loader-2:before {
  animation-delay: 0.35s;
}
#cube-loader .cube-loader .loader-3:before {
  animation-delay: 0.69s;
}
#cube-loader .cube-loader .loader-4:before {
  animation-delay: 1.04s;
}
@keyframes cube-loader {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
/* BURGER */

#hamburger{
  z-index: 1;
  position: absolute;
  top:10px;
  left: 10px;
  color:black;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:black;
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
}
